.div1{
    background-color: #22F4DA;
    width:1249px;
    height:376px;
    margin-top:73px;
    margin-left:86px;
    border-radius:20px ;

}
h2{
    padding-top:102px;
    padding-left:590px;
}